In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df= pd.read_csv("C:\\Users\\pooja\\Desktop\\Mall_Customers.csv")
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [4]:
df.describe()

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

In [5]:
df.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [6]:
# Standardize column names
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df = df.rename(columns={"customerid": "customer_id",
                       "annual_income_(k$)": "annual_income_k$",
                       "spending_score_(1-100)": "spending_score"})

In [ ]:
# Normalize Gender
df["gender"] = df["gender"].str.strip().str.capitalize()

In [22]:
# Handle missing values (if any appear in future)
df["age"] = pd.to_numeric(df["age"], errors="coerce")
df["annual_income_k$"] = pd.to_numeric(df["annual_income_k$"], errors="coerce")
df["spending_score"] = pd.to_numeric(df["spending_score"], errors="coerce")


df = df.fillna({
    "age": df["age"].median(),
    "annual_income_k$": df["annual_income_k$"].median(),
    "spending_score": df["spending_score"].median(),
    "gender": "Unknown"
})

In [23]:
# Cap outliers in age and income
def cap_outliers(series):
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5*IQR
    upper = Q3 + 1.5*IQR
    return series.clip(lower=lower, upper=upper)

In [ ]:
df["age"] = cap_outliers(df["age"])
df["annual_income_k$"] = cap_outliers(df["annual_income_k$"], errors="coerce")

In [14]:
df.to_csv("Mall_Customers_Cleaned.csv", index=False)

In [16]:

df_cleaned = pd.read_csv("Mall_Customers_Cleaned.csv")
print(df_cleaned.head())

   customer_id  gender  age  annual_income_k$  spending_score
0            1    Male   19              15.0              39
1            2    Male   21              15.0              81
2            3  Female   20              16.0               6
3            4  Female   23              16.0              77
4            5  Female   31              17.0              40

In [24]:
df["age_group"] = pd.cut( df["age"],
    bins=[0, 25, 40, 60, 120],
    labels=["<25", "25-40", "40-60", "60+"])

In [29]:
df["gender"] = df["gender"].replace({"Male": 1, "Female": 0})

C:\Users\pooja\AppData\Local\Temp\ipykernel_13192\384871086.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["gender"] = df["gender"].replace({"Male": 1, "Female": 0})

In [30]:
df.head()

,customer_id,gender,age,annual_income_k$,spending_score,age_group,gender_encoded,gender_binary
0,1,1,19,15.0,39,<25,1,1
1,2,1,21,15.0,81,<25,1,1
2,3,0,20,16.0,6,<25,0,0
3,4,0,23,16.0,77,<25,0,0
4,5,0,31,17.0,40,25-40,0,0